@import "../../styles/variables.scss";

.home-page {
    color: $staticTextColor;
    background-color: $staticBgColor;
    height: 100%;
    display: flex;

    &__main-content {
        width: 100%;
        padding-left: 130px;
    }
}